[Unit]
Description=Firefox web browser

[Service]
Type=idle
User=user
Restart=always
ExecStart=/usr/bin/dishotkey.sh
WorkingDirectory=/home/user

[Install]
WantedBy=multi-user.target